{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}


<style>
body {
    background-color: #1C1F2B

}
</style>


    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4">Spielervergleich!</h1>
          <p class="lead my-3">Vergleich von zwei PUBG-Spielern</p>
        </div>
      </div>


<section class="section">
    <div class="container">
        <form method="POST" action="/comparison">
<div class="field is-grouped">
  <p class="control is-expanded">
    <input type="hidden" name="playerOneName" value="{% if player_one %}{{ player_one }}{% endif %}">
    <input class="form-control" name="playerName" type="text" placeholder="Player Name">
  </p>
  <p class="control">
    <button class="btn btn-outline-primary">
      Search
    </button>
  </p>
</div>
    </form>
    </div>
</section>

<!--
<div class="container-fluid">
<div class="card-group">
  <div class="card mb-4">
      <div class="card-header">
          <h4 class="card-title">SOLO-STATS</h4>
      </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <!-- Card -->
  <!--
  <div class="card mb-4">
      <div class="card-header">
          <h4 class="card-title">DUO-STATS</h4>
      </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <!-- Card -->
  <!--
  <div class="card mb-4">
      <div class="card-header">
          <h4 class="card-title">SQUAD-STATS</h4>
      </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>


<!-- Graph Comparison Radar -->
{% if player_one %}
<canvas id="comparisonRadar"></canvas>
{% endif %}

<!-- Cards der Spieler, die bei der Suche erscheinen -->
<div class="container">
    <div class="row">
        {% if player_one %}
  <div class="col-sm-6">
    <div class="card text-white bg-info mb-3">
        <div class="card-header">
            <h5>{{ player_one }}</h5>
        </div>

        <div class="card-body">
            <h5>SQUAD FPP</h5>
            <p class="subtitle">Wins: {{ player_one_squad_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_one_squad_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_one_squad_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_one_squad_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_one_squad_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_one_squad_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_one_squad_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_one_squad_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_one_squad_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_one_squad_fpp_stats ['top_10s']}}</p>

            <hr>

            <h5>SOLO FPP</h5>
            <p class="subtitle">Wins: {{ player_one_solo_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_one_solo_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_one_solo_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_one_solo_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_one_solo_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_one_solo_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_one_solo_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_one_solo_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_one_solo_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_one_solo_fpp_stats ['top_10s']}}</p>

            <hr>

            <h5>DUO FPP</h5>
            <p class="subtitle">Wins: {{ player_one_duo_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_one_duo_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_one_duo_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_one_duo_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_one_duo_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_one_duo_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_one_duo_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_one_duo_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_one_duo_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_one_duo_fpp_stats ['top_10s']}}</p>
      </div>
  </div>
  </div>
        {% endif %}
        {% if player_two %}
  <div class="col-sm-6">
    <div class="card text-white bg-warning mb-3">
        <div class="card-header">
            <h5>{{ player_two }}</h5>
        </div>
      <div class="card-body">
            <h5>SQUAD FPP</h5>
            <p class="subtitle">Wins: {{ player_two_squad_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_two_squad_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_two_squad_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_two_squad_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_two_squad_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_two_squad_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_two_squad_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_two_squad_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_two_squad_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_two_squad_fpp_stats ['top_10s']}}</p>

            <hr>

            <h5>SOLO FPP</h5>
            <p class="subtitle">Wins: {{ player_two_solo_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_two_solo_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_two_solo_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_two_solo_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_two_solo_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_two_solo_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_two_solo_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_two_solo_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_two_solo_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_two_solo_fpp_stats ['top_10s']}}</p>

            <hr>

            <h5>DUO FPP</h5>
            <p class="subtitle">Wins: {{ player_two_duo_fpp_stats ['wins']}}</p>
            <p class="subtitle">Matches: {{ player_two_duo_fpp_stats ['rounds_played']}}</p>
            <p class="subtitle">Kills: {{ player_two_duo_fpp_stats ['kills']}}</p>
            <p class="subtitle">Assists: {{ player_two_duo_fpp_stats ['assists']}}</p>
            <p class="subtitle">Damage_dealt: {{ player_two_duo_fpp_stats ['damage_dealt']}}</p>
            <p class="subtitle">Longest_kill: {{ player_two_duo_fpp_stats ['longest_kill']}}</p>
            <p class="subtitle">Longest_time_survived: {{ player_two_duo_fpp_stats ['longest_time_survived']}}</p>
            <p class="subtitle">Losses: {{ player_two_duo_fpp_stats ['losses']}}</p>
            <p class="subtitle">Max_kill_streaks: {{ player_two_duo_fpp_stats ['max_kill_streaks']}}</p>
            <p class="subtitle">Top_10s: {{ player_two_duo_fpp_stats ['top_10s']}}</p>
      </div>
        {% endif %}
    </div>
  </div>

    </div>
</div>
{% endblock %}