{% extends 'layout.html' %}
{% block nav_dashboard %}active{% endblock %}

{% block body %}
<div class="jumbotron p-3 p-md-4 text-white rounded bg-dark">
  <p class="lead my-1">Dashboard mit allen Daten zu ihrem hinterlegten PUBG Spieler {{pubgusername}} </p>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-warning" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Lifetime Stats
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" data-toggle="collapse" data-target="#solo">Solo TPP</a>
      <a class="dropdown-item" data-toggle="collapse" data-target="#solo-fpp">Solo FPP</a>
      <a class="dropdown-item" data-toggle="collapse" data-target="#duo">Duo TPP</a>
      <a class="dropdown-item" data-toggle="collapse" data-target="#duo-fpp">Duo FPP</a>
      <a class="dropdown-item" data-toggle="collapse" data-target="#squad">Squad TPP</a>
      <a class="dropdown-item" data-toggle="collapse" data-target="#squad-fpp">Squad FPP</a>
    </div>
  </div>
  <!--button type="button"  class="btn btn-secondary" data-toggle="collapse" data-target="#lfstats" >Lifetime Stats</button-->
  <button type="button" class="btn btn-secondary btn-warning" data-toggle="collapse" data-target="#matchstats">Matches</button>
</div>

<!-- Segment for creating the lifetime data of the pubg user of the user -->
<div id="collapses">
  <!-- for loop to create the content of the modes -->
  {% for mode in modes %}
  {% if mode == 'duo' %}
  {% set headername = 'Duo TPP'%}
  {% elif mode == 'duo-fpp' %}
  {% set headername = 'Duo FPP'%}
  {% elif mode == 'solo' %}
  {% set headername = 'Solo TPP'%}
  {% set show = ' show' %}
  {% elif mode == 'solo-fpp' %}
  {% set headername = 'Solo FPP'%}
  {% elif mode == 'squad' %}
  {% set headername = 'Squad TPP'%}
  {% elif mode == 'squad-fpp' %}
  {% set headername = 'Squad FPP'%}
  {% endif %}
  <!-- Table for the data of the mode -->
  <div class="collapse{{ show }}" id="{{ mode }}" data-parent="#collapses">
      <hr>
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h4>{{ headername }}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <h4>{{ playerLf[mode]['kills'] }}</h4>
          <p>Total Kills</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ '%0.2f' | format(playerLf[mode]['KD']|float) }}</h4>
          <p>Overall KD</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ playerLf[mode]['wins'] }}</h4>
          <p>Total Wins</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ playerLf[mode]['roundsPlayed'] }}</h4>
          <p>Total Matches</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ playerLf[mode]['rankPoints']|round|int }}</h4>
          <p>Rank Points</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ '%0.2f' | format(playerLf[mode]['rankPointsMatch']|float) }}</h4>
          <p>Rank Points / Match</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ '%0.2f' | format(100 *playerLf[mode]['winRate']|float) }} %</h4>
          <p>Overall Winrate</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <h4>{{ playerLf[mode]['top10s'] }}</h4>
          <p>Top 10 Placements</p>
        </div>
      </div>
      <!-- Radar and Polar-Area Chart -->
      <div class="row">
          <div class="card border-light col-md-6">
              <canvas id="radar{{ mode }}"></canvas>
          </div>
          <div class="card border-light col-md-6">
              <canvas id="polarAreaMatchType{{ mode }}"></canvas>
          </div>
      </div>
      
    </div>
  </div>
  </div>
{% endfor %}



  <div class="collapse" id="matchstats" data-parent="#collapses">
    <hr>
    <h2>Match Statistiken</h2>
    <hr>
    <div class="accordion" id="accordionMatch">
    {% for match in playerMatches %}
    
      <div class="card">
        <div class="card-header" id="heading{{ match["data"]["id"] }}">
          <div class="row">
            <div class="col-md-2">Match ID:</div>
            <div class="col-md-4">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ match["data"]["id"] }}"
                aria-expanded="true" aria-controls="#collapse{{ match["data"]["id"] }}">
                {{ match["data"]["id"]}} 
              </button>
            </div>
            <div class="col-md-3">Match Mode: {{ match["data"]["attributes"]["gameMode"] }}</div>
            <div class="col-md-2">Map: {{ match["data"]["attributes"]["mapName"] }}</div>
        </div>
        </div>
        {% for participant in match["included"] %}
          {% if participant["type"] == "participant" %}
            {% if participant["attributes"]["stats"]["name"] == pubgusername %}  
            <div id="collapse{{ match["data"]["id"] }}" class="collapse" aria-labelledby="heading{{ match["data"]["id"] }}" data-parent="#accordionMatch">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="col-md-3 col-sm-4">
                      <h4>{{ participant["attributes"]["stats"]["winPlace"] }}</h4>
                      <p>Match Place</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                      <h4>{{ participant["attributes"]["stats"]["kills"] }}</h4>
                      <p>Kills</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                      <h4>{{ '%0.2f' | format(participant["attributes"]["stats"]["damageDealt"]|float) }}</h4>
                      <p>Damage</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                      <h4>{{ '%0.2f' | format(participant["attributes"]["stats"]["rideDistance"] + participant["attributes"]["stats"]["swimDistance"] + participant["attributes"]["stats"]["walkDistance"]|float) }}</h4>
                      <p>Total Distance</p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    {% if match["data"]["attributes"]["mapName"] == "Erangel_Main" %}
                      <img src="static/Erangel_Main_Low_Res.jpg" style="width:100%">
                    {% elif match["data"]["attributes"]["mapName"] == "DihorOtok_Main" %}
                      <img src="static/Vikendi_Main_Low_Res.jpg" style="width:100%">
                    {% elif match["data"]["attributes"]["mapName"] == "Desert_Main" %}
                      <img src="static/Miramar_Main_Low_Res.jpg" style="width:100%">
                    {% elif match["data"]["attributes"]["mapName"] == "Savage_Main" %}
                      <img src="static/Sanhok_Main_Low_Res.jpg" style="width:100%">
                    {% else %}
                      <h3>Map nicht bekannt!</h3>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}

{% block script %}

<script>
{% for mode in modes %}

var lifetimeradar = new Chart(document.getElementById("radar{{ mode }}"),{
    "type":"radar",
    "data":{"labels":["Win%","Top10%","Headshot%"],
        "datasets":[{"label":"LifetimeStats-{{ mode }}",
                "data":[{{ playerLf[mode]['winRate'] }},{{ playerLf[mode]['top10s%'] }},{{ playerLf[mode]['headshotRate'] }}],
                "borderColor":"rgb(255, 99, 132)",
                "pointBackgroundColor":"rgb(255, 99, 132)",
                "pointBorderColor":"#fff",
                "pointHoverBackgroundColor":"#fff",
                "pointHoverBorderColor":"rgb(255, 99, 132)"}]
    },"options":{"elements":{"line":{"tension":0,"borderWidth":3}},
                "scale":{"ticks":{"suggestedMax":1}}}
    }            
  );

  var polarAreaMatchType = new Chart(document.getElementById("polarAreaMatchType{{ mode }}"),{
    "type":"polarArea",
    "data":{"labels":["Solo","SoloFPP","Duo","DuoFPP","Squad","SquadFPP"],
        "datasets":[{"label":"Match Type Counts",
                "data":[{{ playerLf['solo']['roundsPlayed'] }},
                {{ playerLf['solo-fpp']['roundsPlayed'] }},
                {{ playerLf['duo']['roundsPlayed'] }},
                {{ playerLf['duo-fpp']['roundsPlayed'] }},
                {{ playerLf['squad']['roundsPlayed'] }},
                {{ playerLf['squad-fpp']['roundsPlayed'] }}],
                "backgroundColor": ["#FF6384","#E67E22","#4BC0C0","#FFCE56","#E7E9ED","#36A2EB"]}]      
    }, "options": { "responsive": true
    }
});

{% endfor %}

</script>


{% endblock %}