{% extends 'layout.html' %}
{% block nav_dashboard %}active{% endblock %}

{% block body %}

<div class="jumbotron p-3 p-md-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-7">Willkommen, {{name}}</h1>
    <p class="lead my-1">Dashboard mit allen Daten zu ihrem PUBG Spieler {{pubgusername}}</p>
  </div>
</div>

<div class="container">

<ul class="nav navbar-dark ">
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#lfstats" role="button" aria-expanded="true" aria-controls="lfstats">Lifetime Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#matchstats" role="button" aria-expanded="false" aria-controls="matchstats">Matches</a>
    </li>
</ul>

<!-- Line Chart (links) -->
<div class="collapse" id="lfstats">
  <div class="row">
    <div class="col-sm-6">
      <table class="table">
        <tbody>
            <tr>
              <th>RankPoints</th>
                <td>1</td>
            </tr>
            <tr>
              <th>Kills</th>
            </tr>
            <tr>
              <th>Assists</th>
                <td>Carter</td>
            </tr>
            <tr>
              <th>longestKill</th>
                <td>johncarter@mail.com</td>
            </tr>
            <tr>
              <th>longestTimeSurvived</th>
                <td>johncarter@mail.com</td>
            </tr>
        </tbody>
    </table>
    </div>

    <!-- Radar Chart (rechts) -->
    <div class="col-sm-6">
      <canvas class="my-4 w-100" id="radardashboard"></canvas>
    </div>
  </div>
</div>  


<div class="collapse" id="matchstats">
  <h2>Match Statistiken</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Datum</th>
                  <th>MatchID</th>
                  <th>Spielmodus</th>
                  <th>Platzierung</th>
                  <th>Kills</th>
                  <th>Damage</th>
                  <th>Strecke</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                  <td>sit</td>
                  <td>sit</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                  <td>sit</td>
                  <td>sit</td>
                  <td>sit</td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>

{% endblock %}