{% block body %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="header">
      <div class="container">

        <div class="body-particles">
            <nav class="navbar navbar-expand-lg transparent fixed-top navbar-light">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <!--Titel des Projekts / Logo-->
                    <a class="navbar-brand" href="/home">PUBG Stats</a>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="{% block nav_home %}{% endblock %}">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="{% block nav_dashboard %}{% endblock %}">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="{% block nav_playersearch %}{% endblock %}">
                            <a class="nav-link" href="/playersearch">Spielersuche</a>
                        </li>
                        <li class="{% block nav_comparison %}{% endblock %}">
                            <a class="nav-link" href="/comparison">Spielervergleich</a>
                        </li>
                        {% endif %}
                    </ul>

                <ul class="navbar-nav navbar-right">
                <li class="{% block nav_about %}{% endblock %}">
                <a class="nav-link" href="/about">About</a>
                </li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.username == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    <li class="{% block nav_settings %}{% endblock %}">
                        <a class="nav-link" href="/settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('logout') }}>Logout</a>
                    </li>
                    {% else %}
                    <li class="{% block nav_register %}{% endblock %}">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="{% block nav_login %}{% endblock %}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                    </ul>

                </div>
                </div>
                </nav>
        </div>

      <div class="header__introduction">
          <div class="display-2">PUBGStats</div>
          <div class="display-4">ADOPT / ADAPT / IMPROVE</div>

          {% if current_user.is_authenticated %}
          {% else %}
          <div class="buttons">
            <p>
              <p> </p>
              <a href="/register" class="btn-lg btn-warning my-2">Register</a>
              <a href="/login" class="btn-lg btn-secondary my-2">Login</a>
            </p>
          </div>
          {% endif %}
        </div>

              <!-- Container für Flashed Message -->
              <div class="container">

                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                  {% endwith %}
              </div>
      </div>


      <a class="header__scroll scroll" href="#documentation">
        <span class="scroll__text"></span>
        <img src="./static/Arrow-down.svg.png">
      </a>

      <canvas class="header__background" width="1903" height="694" style="width: 100%; height: 100%;"></canvas>
    </header>

    <div class="documentation">
      <a name="documentation"></a>

      <div class="container container--large">
        <div class="installation">
          <a name="installation"></a>

        <div class="jumbotron jumbotron-fluid">
        <div class="text-center">
            <img src="/static/PUBG_Header.png" width="500px">
        </div>
        </div>


        <div class="row featurette">
          <div class="col-md-7">
            <div class="display-3">Spielervergleich</div>
              <h3><span class="text-muted">Vergleiche Spielerinformationen mit denen von anderen Spielern</span></h3>
              <h4><span class="text-warning">Willst du wissen welcher Spieler besser ist?</span></h4>
              <h4><span class="text-warning">Dann nutze den Spielvergleich und stelle Spieler gegenüber!</span></h4>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/comparison.svg" width="300">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <div class="display-3">Dashboard</div>
              <h3><span class="text-muted">Überwache und Betrachte die eigene erspielte Leistung</span></h3>
              <h4><span class="text-warning">Willst du wissen welcher Spieler besser ist?</span></h4>
              <h4><span class="text-warning">Dann nutze den Spielvergleich und stelle Spieler gegenüber!</span></h4>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/static/dashboard.svg" width="300">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
           <div class="display-3">Spielersuche</div>
              <h3><span class="text-muted">Suche nach Informationen zu einem bestimmten Spieler</span></h3>
              <h4><span class="text-warning">Willst du wissen welcher Spieler besser ist?</span></h4>
              <h4><span class="text-warning">Dann nutze den Spielvergleich und stelle Spieler gegenüber!</span></h4>
           </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/playersearch.svg" width="300">
          </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

    <script src="https://npmcdn.com/particlesjs@2.2.2/dist/particles.min.js"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '.header__background',
          color: '#f6bd1f',
          maxParticles: 130,
          connectParticles: true,
          responsive: [
            {
              breakpoint: 768,
              options: {
                maxParticles: 80
              }
            }, {
              breakpoint: 375,
              options: {
                maxParticles: 50
              }
            }
          ]
        });
      };
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



{% endblock %}
