<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  </head>
  <body>

    <!-- Navigationsbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <!--Titel des Projekts / Logo-->
            <a class="navbar-brand" href="/home">PUBG Stats</a>
        
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="{% block nav_home %}{% endblock %}">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="{% block nav_dashboard %}{% endblock %}">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="{% block nav_playersearch %}{% endblock %}">
                    <a class="nav-link" href="/playersearch">Spielersuche</a>
                </li>
                <li class="{% block nav_comparison %}{% endblock %}">
                    <a class="nav-link" href="/comparison">Spielervergleich</a>
                </li>
                {% endif %}
            </ul>
        
        <ul class="navbar-nav navbar-right">
        <li class="{% block nav_about %}{% endblock %}">
        <a class="nav-link" href="/about">About</a>  
        </li>  
            {% if current_user.is_authenticated %}
            {% if current_user.username == "admin" %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
            <li class="{% block nav_settings %}{% endblock %}">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('logout') }}>Logout</a>
            </li>
            {% else %}
            <li class="{% block nav_register %}{% endblock %}">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="{% block nav_login %}{% endblock %}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
            </ul>
        
        </div>
        </div>
        </nav>

      <!-- Container für Flashed Message -->  
      <div class="container">

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
                </div>
                {% endfor %}
            {% endif %}
          {% endwith %}

          {% block body %}{% endblock %}
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

<!-- Graphs -->
<!-- Line Chart  (Vorlage Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart1");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>



<!-- CHART JS VORLAGEN (Anderes Aussehen und Funktionen) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script>
    var test = "Deutschland"
    var myLineChart = new new Chart(document.getElementById("myChart3"),{
        "type":"line",
        "data":{"labels": [test,"February","March","April","May","June","July"],
            "datasets":[{"label":"My First Dataset",
                "data":[65,59,80,81,56,55,40],
                "fill":false,
                "borderColor":"rgb(75, 192, 192)",
                "lineTension":0.1}]},
                "options":{}});
</script>

<script>
    var myLineChart = new new Chart(document.getElementById("myChartComparison"),{
        "type":"line",
        "data":{"labels":["1","2","3","4","5","6","7","8","9","10","11","12","13","14"],
            "datasets":[{"label":"{{ player_one }}",
                    "data":[0.74,1.1,1.35,2.1,2.2,0.8,1.7,0.8,1.2,1.9,2.5,2.1,0.89,1.8],
                    "fill":true,
                    "borderColor":"rgb(255, 99, 132)",
                    "pointBackgroundColor":"rgb(255, 99, 132)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(255, 99, 132)"},

                {"label":"{{ player_two }}",
                    "data":[0.8,1.2,1.9,2.5,2.1,0.89,1.8,0.74,1.1,1.35,2.1,2.2,0.8,1.7],
                    "fill":true,
                    "backgroundColor":"rgba(54, 162, 235, 0.2)",
                    "borderColor":"rgb(54, 162, 235)",
                    "pointBackgroundColor":"rgb(54, 162, 235)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(54, 162, 235)"
                }]
        },"options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
    });
</script>

<!-- Radar Charts (Beispiel Aufbau)
<script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Running', 'Swimming', 'Eating', 'Cycling', 'Shooting', 'Driving', 'Boosting', 'Wins'],
            datasets: [{
                data: [20, 10, 4, 2, 12, 15, 8, 3],
            }],
        }
    });
</script>
-->

<!-- Quelle: https://www.chartjs.org/docs/latest/charts/radar.html -->

{% block script %}{% endblock %}

<script>

    var myRadarChart = new Chart(document.getElementById("comparisonRadar1"),{
        "type":"radar",
        "data":{"labels":["Wins","Matches","Kills","Assists","Best_Rank_Point","Boosts","Dbnos"],
            "datasets":[{"label":"{{ player_one }}",
                    "data":[22,48,50,81,56,55,40],
                    "borderColor":"rgb(255, 99, 132)",
                    "pointBackgroundColor":"rgb(255, 99, 132)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(255, 99, 132)"},

                {"label":"{{ player_two }}",
                    "data":[28,48,40,19,96,27,100],
                    "fill":true,
                    "backgroundColor":"rgba(54, 162, 235, 0.2)",
                    "borderColor":"rgb(54, 162, 235)",
                    "pointBackgroundColor":"rgb(54, 162, 235)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(54, 162, 235)"
                }]
        },"options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
    });
</script>

<script>
    var myRadarChart = new Chart(document.getElementById("comparisonRadar2"),{
        "type":"radar",
        "data":{"labels":["Wins","Matches","Kills","Assists","Best_Rank_Point","Boosts","Dbnos"],
            "datasets":[{"label":"{{ player_one }}",
                    "data":[22,48,50,81,56,55,40],
                    "borderColor":"rgb(255, 99, 132)",
                    "pointBackgroundColor":"rgb(255, 99, 132)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(255, 99, 132)"},

                {"label":"{{ player_two }}",
                    "data":[28,48,40,19,96,27,100],
                    "fill":true,
                    "backgroundColor":"rgba(54, 162, 235, 0.2)",
                    "borderColor":"rgb(54, 162, 235)",
                    "pointBackgroundColor":"rgb(54, 162, 235)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(54, 162, 235)"
                }]
        },"options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
    });
</script>

<script>
    var myRadarChart = new Chart(document.getElementById("comparisonRadar3"),{
        "type":"radar",
        "data":{"labels":["Wins","Matches","Kills","Assists","Best_Rank_Point","Boosts","Dbnos"],
            "datasets":[{"label":"{{ player_one }}",
                    "data":[0.74,1.1,1.35,2.1,2.2,0.8,1.7],
                    "borderColor":"rgb(255, 99, 132)",
                    "pointBackgroundColor":"rgb(255, 99, 132)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(255, 99, 132)"},

                {"label":"{{ player_two }}",
                    "data":[0.74,1.1,1.35,2.1,2.2,0.8,1.7],
                    "fill":true,
                    "backgroundColor":"rgba(54, 162, 235, 0.2)",
                    "borderColor":"rgb(54, 162, 235)",
                    "pointBackgroundColor":"rgb(54, 162, 235)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(54, 162, 235)"
                }]
        },"options":{"elements":{"line":{"tension":0,"borderWidth":3}}}
    });
</script>

<script>
var myBarChart = new Chart(document.getElementById("horizontal_rechts"), {
    "type":"horizontalBar",
    "data":{"labels":["January","February","March","April","May","June","July"],
        "datasets":[{"label":"{{ player_one }}","data":[0.74,1.1,1.35,2.1,2.2,0.8,1.7],
            "fill":false,
            "backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
            "borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
            "borderWidth":1}]},
    "options":{"scales":{"xAxes":[{"ticks":{"beginAtZero":true}}]}}});
</script>

<script>
var myBarChart = new Chart(document.getElementById("horizontal_links"), {
    "type":"horizontalBar",
    "data":{"labels":["January","February","March","April","May","June","July"],
        "datasets":[{"data":[0.8,1.2,1.9,2.5,2.1,0.89,1.8],"label":"{{ player_two }}",
            "fill":false,
            "backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
            "borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
            "borderWidth":1}]},
    "options":{"scales":{"xAxes":[{"ticks":{"beginAtZero":true}}]}}});
</script>

