{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block nav_playersearch %}active{% endblock %}

{% block body %}
<div class="jumbotron p-3 p-md-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-7">Spielersuche!</h1>
        <p class="lead my-1">Abrufen der Stats eines bestimmten Spielers</p>
    </div>
</div>


<section class="section">
    <h5>SOLO-SUCHE</h5>
        <form method="POST" action="/comparison">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input type="hidden" name="playerOneName1" value="{% if player_one %}{{ player_one }}{% endif %}">
                    <input class="form-control" name="playerName1" type="text" placeholder="Player Name">
                </p>
                <p class="control">
                    <button class="btn btn-outline-primary">Search</button>
                </p>
            </div>
        </form>
</section>

        <div class="card-header">
            <h4>Overall Stats</h4>
        </div>
         <div class="card-body">
           <div class="row">
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Kills</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall KD</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Wins</p>

             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Matches</p>
             </div>

             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Score</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Score / Match</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall Winrate</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Top Placements</p>
             </div>
           </div>
             <hr>
             <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderItems1"><i class="fa fa-chevron fa-fw" ></i> Grafiken</div>

                <div class="collapse in" id="collapseOrderItems1">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>
         </div>


        <div class="card-header">
            <h4>Solo Stats</h4>
        </div>
         <div class="card-body">
           <div class="row">
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Kills</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall KD</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Wins</p>

             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Matches</p>
             </div>

             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Score</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Score / Match</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall Winrate</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Top Placements</p>
             </div>
           </div>
             <hr>
             <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderItems2"><i class="fa fa-chevron fa-fw" ></i> Grafiken</div>

                        <div class="collapse in" id="collapseOrderItems2">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
             </div>
         </div>


        <div class="card-header">
            <h4>Duo Stats</h4>
        </div>
         <div class="card-body">
           <div class="row">
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Kills</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall KD</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Wins</p>

             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Matches</p>
             </div>

             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Score</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Score / Match</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall Winrate</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Top Placements</p>
             </div>
           </div>
             <hr>
               <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderItems3"><i class="fa fa-chevron fa-fw" ></i> Grafiken</div>

                        <div class="collapse in" id="collapseOrderItems3">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                </div>
         </div>


        <div class="card-header">
            <h4>Squad Stats</h4>
        </div>
         <div class="card-body">
           <div class="row">
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Kills</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall KD</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Wins</p>

             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Matches</p>
             </div>

             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Total Score</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Score / Match</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Overall Winrate</p>
             </div>
             <div class="col-md-3 col-sm-4">
               <h4>WERT</h4>
               <p>Top Placements</p>
             </div>
           </div>
             <hr>
             <div class="panel panel-default">
               <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderItems4"><i class="fa fa-chevron fa-fw" ></i> Grafiken</div>

                    <div class="collapse in" id="collapseOrderItems4">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
           </div>
         </div>


<!-- CSS für Panel -->
<style>
.panel-heading .fa-chevron:after {
    content: "\f078";
}
.panel-heading.collapsed .fa-chevron:after {
    content: "\f054";
}
</style>

{% endblock %}