{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block nav_settings %}active{% endblock %}

{% block body %}
  <div class="jumbotron p-3 p-md-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-7">Account-Settings</h1>
          <p class="lead my-1">Anpassung der Accounteinstellungen</p>
        </div>
      </div>

<!--
<div class="container">
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img"  style="width: 128px; height: 128px;" src="{{ image_file }}">

        <div class="media-body">
            <h2 class="account-heading">{{ name }}</h2>
            <p class="text">{{ email }}</p>

        </div>
    </div>
</div>
  <form class="form-signin" method="POST" action="/settings">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.pubgusername) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
  </form>
</div>

<hr>

-->

<div class="row">
    <div class="col-md-6">
    <div class="card-light">
        <div class="card-header-light bg-transparent text-center">
            <h1 class="display-5">Aktuelle Daten</h1>
            <hr>
        </div>
            <div class="container">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Profilbild</th>
                      <td><img class="rounded-circle account-img"  style="width: 128px; height: 128px;" src="{{ image_file }}"></td>
                    </tr>
                    <tr>
                      <th scope="row">Username</th>
                      <td>{{ name }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td>{{ email }}</td>
                    </tr>
                    <tr>
                      <th scope="row">PUBG Username</th>
                      <td>{{ pubgusername }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    <div class="card-light">
        <div class="card-header-light bg-transparent text-center">
            <h1 class="display-5">Daten ändern</h1>
            <hr>
        </div>
        <form class="form-signin" method="POST" action="/settings">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.pubgusername) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>
    </div>
    </div>
</div>

{% endblock %}